.container-fluid
	br
	.panel.panel-default.ui-ribbon-container
		.panel-heading
			span.fa.fa-bars &nbsp;Ribbon
		.panel-body
			table.table.table-bordered.table-striped.table-hover
				thead
					tr
						td #
						td(ng-repeat='field in fields') {{field.ru}}
				tbody
					tr(ng-repeat='document in products', ng-dblclick='openDocument($index)')
						td {{$index + 1}}
						td(ng-repeat='field in fields') {{document[field.db]}}
			a(ui-sref='product.create', href)
				button.btn.btn-default Создать






