
<div class="container-fluid"><br/>
  <div class="panel panel-default ui-ribbon-container">
    <div class="panel-heading"><span class="fa fa-bars">&nbsp;Ribbon</span></div>
    <div class="panel-body">
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <td>#</td>
            <td ng-repeat="field in fields">{{field.ru}}</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="document in products" ng-dblclick="openDocument($index)">
            <td>{{$index + 1}}</td>
            <td ng-repeat="field in fields">{{document[field.db]}}</td>
          </tr>
        </tbody>
      </table><a ui-sref="product.create" href="href">
        <button class="btn btn-default">Создать</button></a>
    </div>
  </div>
</div>