
<script id="item-renderer" type="text/ng-template"><a href="#">{{item.title}}<span>({{item.items.length + item.products.length}})</span></a>
  <ul style="display: block;" ng-if="item.items.length || item.products.length">
    <li ng-repeat="item in item.items" ng-include="'item-renderer'" ng-init="collapsed = true"></li>
    <li ng-repeat="product in item.products"><a href="#" ui-sref="product.document({product: product._id})">{{product.name}}</a></li>
  </ul>
</script>
<div ng-controller="MenuController" class="widget margin-top-0">
  <h3 class="headline">Categories</h3><span class="line"></span>
  <div class="clearfix"></div>
  <ul id="categories">
    <li ng-repeat="item in menutree" ng-include="'item-renderer'" ng-init="collapsed = true"></li>
  </ul>
  <div class="clearfix"></div>
</div>