.menu-container {
  background-color: #535a6c;
  min-width: 200px;
}
.menu-container ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
.menu-container ul li a {
  display: block;
  padding: 16px 15px;
  text-decoration: nonde;
  color: #ccd0d8;
}
.menu-container ul li:hover {
  background-color: #4d5465;
}
.menu-container ul li.active {
  background-color: #4d5465;
}
