.menu-container
	background-color #535a6c
	min-width 200px

	ul
		margin 0
		list-style none
		padding 0

		li
			a
				display block
				padding 16px 15px
				text-decoration nonde
				color #ccd0d8

			&:hover
				background-color #4d5465

		li.active
			background-color #4d5465

