
<div class="container-fluid"><br/>
  <div class="panel panel-default ui-ribbon-container">
    <div class="panel-heading"><span class="fa fa-bars">&nbsp;Ribbon</span></div>
    <div class="panel-body">
      <form class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-md-2">Заголовок</label>
          <div class="col-md-10">
            <input ng-model="article.title" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2">Содержание</label>
          <div class="col-md-10">
            <text-angular ng-model="article.content"></text-angular>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-md-2">Дата публикации</label>
          <div class="col-md-10">
            <p class="input-group">
              <input datepicker-popup="dd-MMMM-yyyy" ng-model="article.publishDate" is-open="opened" min-date="minDate" max-date="'2015-06-22'" class="form-control"/><span class="input-group-btn">
                <button ng-click="open($event)" class="btn btn-default"><i class="fa fa-bars"></i></button></span>
            </p>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-10 col-md-offset-2">
            <button ng-click="saveDocument()" class="btn btn-default">Сохранить</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>